.Board
{
    margin: 0 ;
    display: grid;
    gap: 2px;/*grid-gap was replaced*/
    width: 20vw;
    height: 40vw;
    background: rgb(32, 0, 64);
    border: 10px solid rgb(32, 0, 64);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    
}