.TetrisStats
{
    position: absolute;
    width: 38vw;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
}

.TetrisStats__right
{
    /*font-size: 4vh;*/
    right: 0;
    bottom: 0;
    text-align: left;
}

.TetrisStats__left
{
    right: 0;
    top: 22vh;
    text-align: left;
}

.TetrisStats .value
{
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 1);
}